version: '3'

services:
  appointments:
    build:
      context: ./appointments
    image: rayed14/appointments:cf7915f280133780f33195e65e4d4c7e7b69bb5b
    ports:
      - "7070:7070"
    environment:
      - DOCTORS_SERVICE_URL=doctors:9090
    networks:
      - doctor-appointment

  doctors:
    build:
      context: ./doctors
    image: rayed14/doctors:70a8578b14928d0a35d0761d076670555119288b
    ports:
      - "9090:9090"
    networks:
      - doctor-appointment

  frontend:
    build:
      context: ./frontend
    image: rayed14/frontend:2ddd23e4d437619ea3ae53167ba8659f9b433727
    ports:
      - "3000:3000"
    environment:
      - DOCTORS_SERVICE_URL=doctors:9090
      - APPOINTMENTS_SERVICE_URL=appointments:7070
    networks:
      - doctor-appointment
    depends_on:
      - appointments
      - doctors

networks:
  doctor-appointment:
    driver: bridge